{% extends "pg/menu.html" %}
{% load crispy_forms_tags %}
{% block start %}
{% load widget_tweaks %}

<div style="margin-left:40%;">

<b>Plan de estudio - Detalle</b>

<br>
<br>

<table>
  <tr>
    <th>id de Plan</th>
    <th>Nombre de Plan</th>
    <th>Carga horaria total</th>
    <th>Resolucion Coneau</th>
    <th>Resolucion Min Edu</th>
    <th>Resolucion Rectoral</th>
  </tr>
  <tr>
    {% for i in plan %}
    <td>{{i.idplan}}</td>
    <td>{{i.nombreplan}}</td>
    <td>{{i.cargahorariatotal}}</td>
    <td>{{i.resolucionconeau}}</td>
    <td>{{i.resolucionminedu}}</td>
    <td>{{i.resolucionrectoral}}</td>
  </tr>
    {% endfor %}
</table>

<br>
<br>
<br>

<b>Materias</b>

<br>
<br>

<table>
  <tr>
    <th>id de Materia</th>
    <th>Nombre</th>
    <th>Descripcion</th>
  </tr>
  <tr>
    {% for i in materias %}
      <td><a href="{% url 'mostrarMateriaDetalle' sesion=sesion idmateria=i.idmateria %}">{{i.idmateria}}</a></td>
      <td><a href="{% url 'mostrarMateriaDetalle' sesion=sesion idmateria=i.idmateria %}">{{i.nombre}}</a></td>
    <td>{{i.descripcion}}</td>
  </tr>
    {% endfor %}
</table>

<br>
<br>

  <div class="row d-flex justify-content-around mt-4">
{% for i in plan %}
     <a href="{% url 'agregarMateria' sesion=sesion idplan=i.idplan %}" class="btn btn-primary btn-lg active"  role="button" aria-pressed="true"
    style='width:190px; height:50px'>Agregar Materia</a>
{% endfor %}
</div>

<br>
<br>

<b>Competencias</b>

<br>
<br>

<table>
  <tr>
    <th>id de Competencia</th>
    <th>Nombre</th>
    <th>Descripcion</th>
  </tr>
  <tr>
    {% for i in competencias %}
    <td><a href="{% url 'mostrarCompetenciaDetalle' sesion=sesion idcompetencia=i.idcompetencia %}">{{i.idcompetencia}}</a></td>
    <td><a href="{% url 'mostrarCompetenciaDetalle' sesion=sesion idcompetencia=i.idcompetencia %}">{{i.nombre}}</a></td>
    <td>{{i.descripcion}}</td>
  </tr>
    {% endfor %}
</table>


<br>
<br>


<div class="row d-flex justify-content-around mt-4">
{% for i in plan %}
     <a href="{% url 'crearCompetencia' sesion=sesion idplan=i.idplan %}" class="btn btn-primary btn-lg active"  role="button" aria-pressed="true"
    style='width:190px; height:50px'>Crear Competencia</a>
{% endfor %}
</div>

</div>

{% endblock start %}
