{% extends "pg/menu.html" %}
{% load crispy_forms_tags %}
{% block start %}
{% load widget_tweaks %}

<div style="margin-left:40%;">

<b>Contenido curricular</b>

<br>
<br>

<table>
  <tr>
    <th>id de Contenido Curricular</th>
    <th>id de Materia</th>
    <th>Descripcion</th>
  </tr>
  <tr>
    <td>{{idcontenidocurricular}}</td>
    <td>{{idmateria}}</td>
    <td>{{descriptor}}</td>
  </tr>
</table>

<br>
<br>

<b>Unidades</b>

<br>
<br>

<table>
  <tr>
    <th>id Unidad</th>
    <th>Nombre</th>
    <th>Descripcion</th>
  </tr>
  <tr>
    {% for i in response_unidades %}
      <td>{{i.idunidad}}</td>
      <td>{{i.nombre}}</td>
      <td>{{i.descriptor}}</td>
  </tr>
    {% endfor %}
</table>

<br>
<br>

<b>Act Formacion Practica</b>

<br>
<br>

<table>
  <tr>
    <th>id Acta de Formacion Practica</th>
    <th>Nombre</th>
    <th>Descripcion</th>
  </tr>
  <tr>
    {% for i in response_act_formacion %}
  <tr>
      <td>{{i.idacta}}</td>
      <td>{{i.nombre}}</td>
      <td>{{i.descriptor}}</td>
  </tr>
    {% endfor %}
</table>


<br>
<br>

<div class="row d-flex justify-content-around mt-4">
 <a href="{% url 'crearUnidad' nombre=nombre idcontenidocurricular=idcontenidocurricular %}" class="btn btn-primary btn-lg active"  role="button" aria-pressed="true"
    style='width:180px; height:50px' >Crear Unidad</a>
</div>

<br>

<div class="row d-flex justify-content-around mt-4">
 <a href="{% url 'crearActa' nombre=nombre idcontenidocurricular=idcontenidocurricular %}" class="btn btn-primary btn-lg active"  role="button" aria-pressed="true"
    style='width:180px; height:50px' >Crear Acta</a>
</div>

</div>

{% endblock start %}
