{% extends "pg/menu.html" %}
{% load crispy_forms_tags %}
{% block start %}
{% load widget_tweaks %}

<div style="margin-left:40%;">

<b>Contenido curricular</b>

<br>
<br>

<table>
  <tr>
    <th>id de Contenido Curricular</th>
    <th>id de Materia</th>
    <th>Descripcion</th>
  </tr>
  <tr>
    <td>{{idcontenidocurricular}}</td>
    <td>{{idmateria}}</td>
    <td>{{descriptor}}</td>
  </tr>
</table>

<br>
<br>

<ul>
    <li>Unidades</li>
{% for i in response_unidades %}
    <li>
         <a href="{% url 'mostrarUnidad' nombre=nombre idunidad=i.idUnidad%}">
             {{i.idUnidad}} {{i.Descriptor}} {{i.idContenidoCurricular}}</a>
    </li>
{% endfor %}
</ul>

<br>
<br>

<ul>
    <li>Act Formacion Practica</li>
{% for i in response_act_formacion %}
    <li>
         <a href="{% url 'mostrarActFormacionPractica' nombre=nombre idactformacionpractica=i.idActFormacionPractica%}">
             {{i.idActFormacionPractica}} {{i.Descriptor}} {{i.idContenidoCurricular}}</a>
    </li>
{% endfor %}
</ul>

</div>

{% endblock start %}
