{% extends "pg/menu.html" %}
{% load crispy_forms_tags %}
{% block start %}
{% load widget_tweaks %}

<div style="margin-left:40%;">

<b>Materias</b>

<br>
<br>

<table>
  <tr>
    <th>id Materia</th>
    <th>Nombre</th>
    <th>Descripcion</th>
  </tr>
  <tr>
    {% for i in materias %}
      <td><a href="{% url 'mostrarMateriaDetalle' sesion=sesion idmateria=i.idmateria %}">{{i.idmateria}}</a></td>
      <td><a href="{% url 'mostrarMateriaDetalle' sesion=sesion idmateria=i.idmateria %}">{{i.nombre}}</a></td>
      <td>{{i.descripcion}}</td>
  </tr>
    {% endfor %}
</table>

</div>

{% endblock start %}
