{% extends "pg/menu.html" %}
{% load crispy_forms_tags %}
{% block start %}
{% load widget_tweaks %}

<div style="margin-left:40%;">

<b>Competencias Formadas</b>

<br>
<br>

<table>
  <tr>
    <th>id Competencia</th>
    <th>Descripcion</th>
  </tr>
  <tr>
    {% for i in planes %}
      <td><a href="{% url 'mostrarCompetenciaDetalle' nombre=nombre idcompetencia=i.idCompetencia %}">{{i.idCompetencia}}</a></td>
    <td><a href="{% url 'mostrarCompetenciaDetalle' nombre=nombre idcompetencia=i.idCompetencia %}">{{i.Descriptor}}</a></td>
  </tr>
    {% endfor %}
</table>

</div>

{% endblock start %}
