{% extends "pg/menu.html" %}
{% load crispy_forms_tags %}
{% block start %}
{% load widget_tweaks %}

<div style="margin-left:40%;">

<b>Competencias Formadas</b>

<br>
<br>

<table>
  <tr>
    <th>id Competencia</th>
    <th>Nombre</th>
    <th>Descripcion</th>
  </tr>
  <tr>
    {% for i in competencias %}
      <td><a href="{% url 'mostrarCompetenciaDetalle' nombre=nombre idcompetencia=i.idcompetencia %}">{{i.idcompetencia}}</a></td>
    <td><a href="{% url 'mostrarCompetenciaDetalle' nombre=nombre idcompetencia=i.idcompetencia %}">{{i.nombre}}</a></td>
    <td>{{i.descripcion}}</td>
  </tr>
    {% endfor %}
</table>

</div>

{% endblock start %}
