{% extends "pg/menu.html" %}
{% load crispy_forms_tags %}
{% block start %}
{% load widget_tweaks %}

Contenido curricular

<ul>
    <li>Unidades</li>
{% for i in response_unidades %}
    <li>
         <a href="{% url 'mostrarContenidoCurricular' nombre=nombre idcontenidocurricular=i.idContenidoCurricular idmateria=i.idMateria descriptor=i.Descriptor%}">
             {{i.idContenidoCurricular}} {{i.Descriptor}} {{i.idContenidoCurricular}}</a>
    </li>
{% endfor %}
</ul>


<div class="row d-flex justify-content-around mt-4">
 <a href="{% url 'crearContenidoCurricular' nombre=nombre idmateria=idmateria%}" class="btn btn-primary btn-lg active"  role="button" aria-pressed="true"
    style='width:180px; height:50px'>Crear Contenido Curricular</a>
</div>


{% endblock start %}
