{% extends "pg/menu.html" %}
{% load crispy_forms_tags %}
{% block start %}
{% load widget_tweaks %}

<div style="margin-left:40%;">

<b>Planes de estudio</b>

<br>
<br>

<table>
  <tr>
    <th>id Plan de Estudios</th>
    <th>Nombre</th>
  </tr>
  <tr>
    {% for i in planes %}
    <td><a href="{% url 'mostrarPlanEstudiosDetalle' sesion=sesion idplan=i.idplan %}">{{i.idplan}}</a></td>
    <td><a href="{% url 'mostrarPlanEstudiosDetalle' sesion=sesion idplan=i.idplan %}">{{i.nombreplan}}</a></td>
  </tr>
    {% endfor %}
</table>

</div>

{% endblock start %}
