{% extends "pg/menu.html" %}
{% load crispy_forms_tags %}
{% block start %}
{% load widget_tweaks %}


<div style="margin-left:40%;">

<b>Competencia</b>

<br>
<br>

<table>
  <tr>
    <th>id Competencia</th>
    <th>Descripcion</th>
  </tr>
  <tr>
    {% for i in competencias %}
      <td>{{i.idCompetencia}}</td>
    <td>{{i.Descriptor}}</td>
  </tr>
    {% endfor %}
</table>

<br>
<br>

<b>Capacidades</b>

<br>
<br>

<table>
  <tr>
    <th>id Competencia</th>
    <th>Descripcion</th>
  </tr>
  <tr>
    {% for i in capacidades %}
      <td>{{i.idCapacidad}}</td>
    <td>{{i.Descriptor}}</td>
  </tr>
    {% endfor %}
</table>

<br>

<div class="row d-flex justify-content-around mt-4">
{% for i in competencias %}
     <a href="{% url 'crearCapacidad' nombre=nombre idcompetencia=i.idCompetencia %}" class="btn btn-primary btn-lg active"  role="button" aria-pressed="true"
    style='width:180px; height:50px'>Crear Capacidad</a>
{% endfor %}
</div>


</div>

{% endblock start %}
